<div class="container">
    <div class="col-md-7 text-center">
        <h1 class="text-primary">Welcome to Contact App</h1>
            <p class="text-info">Access your contacts from any where in world with our 24x7 cloud services</p>
    </div>
    <label for="signup">New user?</label> &nbsp; <button id="signup" class="btn btn-primary" routerLink='login/signup'>Signup</button> <br> <br>
    <label for="login">Existing user </label> &nbsp; <button class="btn btn-primary" id="login" routerLink='login/login-one'>Login</button>
</div>